/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.flatpickr-months .flatpickr-month {background-color: #42a5f5 !important }
.flatpickr-current-month .flatpickr-monthDropdown-months{background-color: #42a5f5 !important}
span.flatpickr-weekday {background-color: #42a5f5 !important;color:#ffffff!important}
.flatpickr-weekdays{background-color: #42a5f5 !important;}
.flatpickr-day.selected{
  background-color: #42a5f5 !important;
  border:#42a5f5
}

.myCustomPhoneInput {
  height: 56px !important;
  border-color: #e5e5e5 !important;
  /* Adjust the height value as per your requirement */
}

.selectUIFix .css-b62m3t-container {
  width: 216px!important; 
}
.selectUIFix .css-b62m3t-container .css-13cymwt-control {
  border-color: #e5e7eb;
  border-radius: 8px;
}

.selectUIFix .css-b62m3t-container .css-hlgwow * {
  color: #9ca3af;
  font-weight: normal;
  font-size: 15px;
}
